@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "./root.css";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  user-select: none;
}
html,body,#app{
  width: 100%;
  height: 100%; 
  background: var(--base-background) ;
}

input{
  padding: 6px;
}
input,button{
  background:none;
  outline: none;
  border:none;
}
a{
  color:#000;
  text-decoration: none;
  outline: none;
}

.d-flex{
  display: flex;
}

.j-center{
  justify-content: center;
}

.a-center{
  align-items: center;
}
.text-14{
  font-size: 14px;
  color:gray
}
.gap12{
  gap: 12px;
}
.gap24{
  gap: 24px;
}
.border-radius8{
  border-radius: 8px;
}
.border-radius12{
  border-radius:16px;
}
.border-radius24{
  border-radius:24px;
}
.j-between{
  justify-content: space-between;
}
.j-around{
  justify-content: space-around;
}
.column{
  flex-direction: column;
}
.p-24{
  padding: 24px;
}
.p-12{
  padding: 12px;
}

.create-button{
  width: 220px;
  height: 48px;
  background: rgb(31, 31, 250);
  color: white;
  font-weight: 500;
  border-radius:4px;
  cursor: pointer;
}
.create-button:hover{
  background: rgb(32, 32, 201);
}
.create-button:active{
  background: rgb(62, 62, 245);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
option{
  padding: 12px !important;
}

.warehouse-bottom::-webkit-scrollbar {
  width: 8px;
}

.warehouse-bottom::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.warehouse-bottom::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 8px;
  border: 2px solid #f1f1f1;
}

.warehouse-bottom::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
.unique-label{
  width:100%;
}

.unique-date-picker {
  position: absolute;
  top:55px;
  padding: 12px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  z-index: 101;
}

.unique-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.unique-dropdown {
  padding: 10px;
  cursor: pointer;
}

.unique-body {
  text-align: center;
}

.unique-weekdays, .unique-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.unique-weekday, .unique-day {
  padding: 10px;
  font-size: 10px;
}

.unique-day {
  cursor: pointer;
  border-radius: 5px;
}

.unique-day:hover {
  background-color: #f0f0f0;
}

.unique-today {
  font-weight: bold;
  border:1px solid #ccc;
}

.unique-selected {
  background-color: #002;
  color: #fff;
}

.unique-not-current {
  color: var(--gray-color);
}

.unique-years, .unique-months {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.unique-year  {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.unique-month{
  padding: 10px 5px;
  border-radius: 4px;
  cursor: pointer;
}

.unique-year:hover, .unique-month:hover {
  background-color: var(--grey-dark);
}